.buttonContainer {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  grid-template-areas: "prev next";
  max-width: 24rem;
  margin: 0 auto;
}
button:first-child {
  grid-area: prev;
}
button:last-child {
  grid-area: next;
}
